body { 
    font-family: 'Montserrat, sans-serif';
}


#title {
background-color: rgb(155, 0, 194);

padding: 3% 13% 5%  13%;



}

.navMy {
    background-color: rgb(155, 0, 194);
}




h1 { font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
    color: white;
margin-bottom: 8%;}

    .navBrand {
font-size:  200%;
font-weight: bold;

    }

    .navItems {
        font-size: 0.6 rem;
    }

    .navContainer {
        padding-left: 0;
    }

    .btnMy {
        margin-left: 2%;
    }

    .belowNav {
        margin-top: 7%;
    }
    
    .iphone {
        margin: 14% 0% 0% 10%;
        width: 60%;
        transform: rotate(25deg);
        
    }

   .featuresSection {
    text-align: center;
    padding: 8% 15%;
   }
   .iconsOnfeatures {

   font-size: 300%;
    color:  rgb(155, 0, 194);
   }

   .divFeatures {
   
    padding: 0% 5% 0% 5%;
    
   }
   .iconsOnfeatures:hover {
   color:  rgb(99, 12, 121);
   }

/*Testimonials*/

.testimonialsSection {
    padding: 10% 10% 10% 10%;
    text-align: center;
}
   #testimonials{
    background-color:  rgb(155, 0, 194);;
    
    
    
   }
   
   h2 {
    font-size: 2.5rem;  
    line-height: 1.5;  
    font-weight: 900;
    color: white;
   }

   .dogProfileText {
    color: white;
    font-size: 1 rem;
   }

   .imgDog {
    margin: 2% 2% 2% 12%;
    width: 10%;
    border-radius: 100%;
   }

   #press {
    background-color:  rgb(155, 0, 194);
    padding: 10% 5% 0% 12%;
   }

   .press-logo {
    width: 15%;
margin: 0% 5% 12% 2%;    
   }
   /*Pricing section*/
#pricing {
    padding: 5%;
    
}
   .card-section {
   
    margin: 2%;
   }